#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_WIFIAUTO
	bool "WifiAuto Auto Connect example"
	default n
	select ARTIK_SDK
	---help---
		Enable the Wifi Auto Connect example

if EXAMPLES_WIFIAUTO

config EXAMPLES_WIFIAUTO_PROGNAME
	string "Program name"
	default "wifiauto"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

endif

config USER_ENTRYPOINT
	string
	default "wifiauto_main" if ENTRY_WIFIAUTO
